<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="PW3_TP_20161CEntities" connectionString="metadata=res://*/EDMPW3.csdl|res://*/EDMPW3.ssdl|res://*/EDMPW3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FEDERICO-PC\SQLEXPRESS;initial catalog=PW3_TP_20161C;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
