.ratings {
    padding-right: 10px;
    padding-left: 10px;
	color: #FFA103;
}

.puntuacion {
	color: #FFA103;
    font-weight: bold;
}

.miniimgIndex{
	width: 400px !important;
	height: 200px !important;
}

.center {
    margin: 0 auto 0 auto !important;
}

.centerText {
    text-align: center;
}

.ContenedorFormulario{
	width: 615px;
	height: auto;
	margin: 0 auto 30px auto;
	background-color: #FFFFFF;
	border: 1px solid #d0d1d5;
	border-radius: 3px;
}

.ContenedorFormularioInterior{
	padding: 2% 2% 0 2%;
}

.portrait {
    width: 50%;
    margin: 20px auto;
}

@media all and (max-width: 767px) {
	.ContenedorFormulario{
		height: auto;
		width: 100%;
	}
}

.sinMarginBotton {
    margin-bottom: 0px !important;
}

.imgWidth {
     width: 100% !important;
     max-width: 200px;
}

.cancelado {
    border: 2px solid #FF4C4C;
}
.text-danger, .text-danger:hover {
    color: #FF4C4C !important;
}

.ErrorSpan {
    color: red; 
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.titulo {
    font-size: 23px;
    font-weight: bold;
    color: #B2B87C;
    font-family: sans-serif;
}

table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
    border-color: #df6924 !important;
}

label, .radio label, .checkbox label, .help-block {
    font-size: 14px !important;
}

table, .table {
    font-size: 15px !important;
}

.well-lg {
    padding: 10px 0px 0px 10px !important;
}
.well {
    margin-bottom: 0px !important;
}

.lista {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid transparent;
}

.keygen, select, select[size="0"], select[size="1"] {
    color: #2b3e50 !important;
}