.ratings {
    padding-right: 10px;
    padding-left: 10px;
	color: #FFA103;
}

.puntuacion {
	color: #FFA103;
    font-weight: bold;
}

.miniimgIndex{
	width: 400px !important;
	height: 200px !important;
}

.center {
    margin: 0 auto 0 auto !important;
}

.centerText {
    text-align: center;
}

.ContenedorFormulario{
	width: 615px;
	height: auto;
	margin: 0 auto 30px auto;
	background-color: #FFFFFF;
	border: 1px solid #d0d1d5;
	border-radius: 3px;
}

.ContenedorFormularioInterior{
	padding: 2% 2% 0 2%;
}

.portrait {
    width: 50%;
    margin: 20px auto;
}

@media all and (max-width: 767px) {
	.ContenedorFormulario{
		height: auto;
		width: 100%;
	}
}

.sinMarginBotton {
    margin-bottom: 0px !important;
}

.imgWidth {
     width: 100% !important;
     max-width: 200px;
}

.cancelado {
    background:#d0d1d5;
}

.ErrorSpan {
    color: red; 
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.keygen, select, select[size="0"], select[size="1"] {
    color: #2b3e50 !important;
}