<%@ Master Language="C#" MasterPageFile="~/main/master/Base.Master" AutoEventWireup="true" CodeBehind="Cocinero.master.cs" Inherits="Tp__PrograWeb3.main.master.Comensal" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <div class="col-md-12">
        <asp:ContentPlaceHolder ID="bodyComensales" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>